#breadcrumbs, #sidebar-actions {
    float: left;
    padding-right: 13px;
    padding-left: 13px;
}

#site-actions, #content-actions, #rightbar-actions {
    float: right;
    padding: 10px 7px 10px 7px;
    top: 0px;
}
