<!doctype html>
<html class="no-js" lang="en" ng-app="threedi-client">
  <head>
    <meta http-equiv="Content-Type"
          content="text/html; charset=utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable"
          content="yes">
    <link rel="icon"
          type="image/png"
          href="images/favicon.ico">

    <title>3Di Live</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">

    <script>
      var debug = true; // legacy
    </script>
</head>

<body ng-controller="Root"
      ui-keypress="{[{ ui_keypress }]}"
      ui-keyup="{[{ ui_keyup }]}">
  <header>
    {[{ state.state.loaded_model_display_name }]}
    <div class="logo row"
         ng-class="{'logo_extra_wide': state.state.loaded_model_display_name.length > 30,
                    'logo_no_text': (state.state === null) ||
                                    (state.state.loaded_model === 'None') ||
                                    (state.state.loaded_model === undefined)}">
      <div class="logo-img-wrapper">
        <a href="/"
           title="3Di Live {% version %}">
          <img class="logo-img"
               src="images/3di-logo.png"
               alt="3Di">
        </a>
      </div>
      <div class="col-sm-8 logo-text1 ng-cloak"
           ng-click="resetExtent();"
           title="{[{ state.state.loaded_model_display_name }]}, {[{ state.state.loaded_model }]}"
           ng-hide="(state.state === null) || (state.state.loaded_model === 'None')  || (state.state.loaded_model === undefined)">
        <strong ng-bind="state.state.loaded_model_display_name">
        </strong>
      </div>
    </div>
  </header>

  <div id="content">
    <!-- start block site_actions -->
    <div id="site-actions"
         class="navbar bar-top">
      <!-- upper right panel -->
      <div ng-controller="PanelSwitcher"
           class="topnav">
        <div class="topnav-item"
             ng-class="{'bar-item-selected': clientstate.active_panel == 'user'}"
             ng-click="open_close('user');"
             title="User and model options">
          <a>
            <i class="fa fa-user"></i>
            <span class="font-override" ng-bind="user.username">
            </span>
          </a>
        </div>
      </div>

      <!-- side bar -->
      <div ng-controller="RemoteControl">
        <div ng-controller="PanelSwitcher"
             class="sidebar"
             ng-class="{'sidebar-selected': (clientstate.active_panel !== '')}">
          <div class="sidebar-button sidebar-button-layers sidebar-button-divider"
               ng-class="{'sidebar-item-selected':
                           clientstate.active_panel == 'Layers'}"
               ng-click="open_close('Layers');"
               title="Map layers">
            <a>
              <i class="fa fa-globe"></i>
            </a>
          </div>

          <div class="sidebar-button sidebar-button-pi sidebar-button-divider"
               ng-class="{'sidebar-item-selected':
                           clientstate.active_panel == 'Settings'}"
               ng-click="open_close('Settings');"
               title="Settings">
            <a>&pi;</a>
          </div>

          <div class="sidebar-button-blank-space"></div>

          <div class="sidebar-button sidebar-button-infopoint sidebar-button-divider"
               ng-show="must_show_infopoint_btn()">
            <a ng-class="{'tool-active': clientstate.program_mode == 'infopoint'}"
               ng-click="clientstate.setMode('infopoint')"
               title="Point Info">
              <i class="fa fa-crosshairs"></i>
            </a>
          </div>

          <div class="sidebar-button sidebar-button-infoline"
               ng-show="clientstate.features.gui_infoline_profile">
            <a ng-class="{'tool-active': clientstate.program_mode == 'infoline'}"
               ng-click="clientstate.setMode('infoline')"
               title="Cross profile">
              <i class="fa fa-expand"></i>
            </a>
          </div>

        </div>
      </div>
    </div>
    <div class="workspace-wms-layer"
         data-workspace-wms-url="{{ wms_server }}">
    </div>
  </div>

  <div class="custom-popup" id="map">
  </div>

  <!-- start block box_awesome -->
  <div id="box-awesome-wrapper"
       ng-controller="BoxAwesome">

    <div id="box-awesome"
         class="hide box"
         ng-class="{hide: box.disabled}">
      <div id="box-awesome-inner"
           class="options">
        <div class="box-awesome-actions">
          <a href="#"
             ng-click="close_box()"
             class="box-awesome-action"
             title="Close">
             &times;
          </a>
        </div>
          <omnibox></omnibox>
      </div>
    </div>
  </div>
  <!-- endblock box_awesome -->

  <!-- start block toolbar_controllers -->
  <div class="container-fluid">
    <div class="navbar navbar-fixed-bottom"
         ng-controller="ClientState">
      <div class="navbar-inner">
        <div class="control"
             ng-controller="RemoteControl">
          <div class="btn-group control-edit-buttons hide bar-buttons"
               ng-controller="Simulator"
               ng-class="{hide: !isMaster}">

            <a class="btn btn-default btn-lg btn-rain"
               ng-class="{disabled: wait_for_server_response,
                          'btn-primary': clientstate.program_mode == 'rain'}"
               ng-show="must_show_rain_btn()"
               ng-mousedown="!isMaster || mouse_down('rain');"
               ng-mouseup="!isMaster || mouse_up('rain');"
               title="Rain">
              <i class="fa fa-threedi-rain"></i>
            </a>

            <a class="btn btn-default btn-lg btn-discharge"
                ng-class="{disabled: wait_for_server_response,
                          'btn-primary': clientstate.program_mode == 'discharge'}"
                ng-show="must_show_discharge_btn()"
                ng-mousedown="!isMaster || mouse_down('discharge')"
                ng-mouseup="!isMaster || mouse_up('discharge')"
                title="Discharge">
              <i class="fa fa-threedi-manhole"></i>
            </a>

            <a class="btn btn-default btn-lg btn-floodfill"
               ng-class="{disabled: wait_for_server_response,
                         'btn-primary': floodfill_is_primary()}"
               ng-show="c.features.scenario_floodfill"
               ng-mousedown="!isMaster || mouse_down_ff('flood_fill_absolute')"
               ng-mouseup="!isMaster || mouse_up('flood_fill_absolute')"
               title="Floodfill">
              <i class="fa fa-tint"></i>
            </a>

            <a class="btn btn-default btn-lg"
                ng-class="{disabled: wait_for_server_response,
                          'btn-primary': clientstate.program_mode == 'edit'}"
                ng-show="must_show_twodee_edit_btn()"
                ng-mousedown="!isMaster || mouse_down('edit')"
                ng-mouseup="!isMaster || mouse_up('edit')"
                title="Edit">
              <i class="fa fa-edit"></i>
            </a>

            <a class="btn btn-default btn-lg"
                ng-class="{disabled: wait_for_server_response,
                'btn-primary': clientstate.program_mode == 'wind'}"
                ng-show="c.features.scenario_global_wind"
                ng-mousedown="!isMaster || mouse_down('wind')"
                ng-mouseup="!isMaster || mouse_up('wind')"
                title="Wind">
              <i class="fa fa-leaf"></i>
            </a>
          </div>

          <div class="btn-group pull-right"
               ng-controller="Director"
               ng-class="{hide: !have_master || isMaster}"
               title="{[{ master_name }]}">
              <i class="fa fa-star"></i>
          </div>

          <div class="btn-group control-edit-buttons hide bar-buttons right"
               ng-class="{hide: !isMaster}"
               ng-show="c.features.sim_transport"
               ng-switch on="isPlaying"
               title="Start simulation">
            <a ng-switch-when="false" id="btn-play"
               class="btn btn-default btn-lg play-pause-button"
               ng-class="{disabled: wait_for_server_response}"
               ng-click="!isMaster || play()">
              <i class="fa fa-play"
                 ng-class="{green: has_future_events}">
              </i>
            </a>
            <a ng-switch-when="true"
               id="btn-stop"
               class="btn btn-default btn-lg play-pause-button"
               ng-class="{disabled: wait_for_server_response}"
               ng-click="!isMaster || stop()">
              <i class="fa fa-pause"
                 ng-class="{green: has_future_events}">
              </i>
            </a>
          </div>
          <div class="timeline non-btn-group right">
            <span class="timeline non-btn"
                  title="Time (DD:HH:MM)"
                  ng-bind="state.time_seconds | serverTimeToMinutes ">
            </span>
          </div>
          <div ng-controller="Status"
               class="non-btn-group right">
              <div class="rain-display"
                   ng-class="{hide: !show_rain_data}"
                   ng-bind="rain_label">
              </div>
              <div class="wind-display"
                   ng-class="{hide: !show_wind_data}"
                   ng-bind="wind_label">
              </div>
              <span class="non-btn btn-error hide"
                 ng-class="{hide: !pending_actions || isNaN(pending_actions)}"
                 title="Number of pending actions: {[{ pending_actions }]}">
                 Hold your clicking
                 <i class="fa fa-warning"></i>
              </span>
              <span ng-class="{hide: !pending_actions || isNaN(pending_actions)}"
                 class="non-btn btn-error hide"
                 ng-bind="pending_actions">
              </span>
              <i class="non-btn fa fa-cloud-on"
                 ng-class="{'fa fa-dashboard': has_rtc > 0}"
                 title="This model has RTC">
              </i>

              <i class="non-btn fa fa-cloud-on clickable"
                 ng-class="{'fa-threedi-rain': addRainIcon()}"
                 ng-click="show_rain_data = !show_rain_data;"
                 title="{[{ rain_label }]}">
              </i>

              <i class="non-btn fa fa-cloud-on fa-threedi-windrose clickable ng-class:getWindroseClass()"
                 ng-show="(state.vars.windSpeed > 0 &&
                           c.features.scenario_global_wind)"
                 ng-click="show_wind_data = !show_wind_data;"
                 title="{[{ wind_label }]}">
              </i>

              <div class="rain-display"
                 ng-class="{hide: !show_status_data}"
                 ng-bind="status_label"></div>
              <i class="non-btn clickable"
                 ng-class="{
                  'state-booting': state_for_color == 'mm-busy',
                  'state-wait': state_for_color == 'wait',
                  'state-sim0': state_for_color == 'sim-busy',
                  'state-sim': state_for_color == 'sim',
                  'state-standby': state_for_color == 'standby',
                  'state-prepare-wms': state_for_color == 'prepare-wms',
                  'state-load-model': state_for_color == 'load-model',
                  'state-loaded-model': state_for_color == 'loaded-model',
                  'state-init-modules': state_for_color == 'init-modules',
                  'state-stopping': state_for_color == 'stopping',
                  'fa fa-circle': state_for_icon == 'circle'
                 }"
                 title="{[{ label }]}"
                 ng-click="show_status_data = !show_status_data">
              </i>
          </div>

          <div class="btn-group bar-buttons slider-on-bar"
               ng-controller="ThreediSlider"
               ng-class="{hide: must_hide_slider()}">
            <i class="btn fa fa-wrench settings-fa fa clickable"
               ng-click="open_settings_from_slider();">
            </i>

            <div class="progress inline-settings"
              ng-mousedown="mouse_down($event);"
              ng-mouseup="mouse_up($event);"
              ng-mousemove="mouse_move($event);"
              ng-click="mouse_click($event);"
              ng-class="{hide: must_hide_inline_settings()}">

              <div ng-class="{'progress-bar-neg':
                               clientstate.edit_ranges[range_name].value < 0}"
                   class="progress-bar"
                   id="blurps"
                   role="progressbar"
                   aria-valuemin="{[{ value_min }]}"
                   aria-valuemax="{[{ value_max }]}"
                   style="width: {[{ value_percentage }]}%;">
                <span style="color:white; white-space:nowrap;">
                </span>
              </div>

              <div class="progress-label">
                  {[{ clientstate.edit_ranges[range_name].name }]}
                  {[{ clientstate.edit_ranges[range_name].value | number : clientstate.edit_ranges[range_name].decimals }]}
                  {[{ clientstate.edit_ranges[range_name].unit }]}
              </div>
            </div>
          </div> <!-- btn-group -->

       </div>
      </div>
    </div>
  </div>
  <!-- end block toolbar_controllers -->

  <!-- start block upper_right_bar -->
  <div id="off-canvas">
    <div ng-controller="PanelSwitcher"
         class="sidebar-background"
         ng-class="{'sidebar-background-selected': (clientstate.active_panel !== '')}">

      <!-- start controller: 'PanelSwitcher' (I) -->

      <h3 class="sidebar-header">
        {[{ clientstate.active_panel | capitalize }]}
      </h3>

      <div ng-controller="PanelSwitcher" class="side-panels">

        <!-- start controller: 'PanelSwitcher' (II) -->

        <!-- Note: we're not using ng-switch, because the angular code in it will only activate after switching, which can be a bit slow -->

        <div ng-class="{hide: clientstate.active_panel != 'Layers'}">
          <div ng-controller="EditLayer"
               class="panel-group"
               id="accordion-layers">
            <div class="panel panel-default">
              <div class="panel-heading">
                <a class="panel-title"
                   data-toggle="collapse"
                   data-parent="#accordion-layers"
                   href="#collapse-background">

                  Background

                </a>
              </div>
              <div id="collapse-background"
                   class="panel-collapse collapse in">
                <div class="panel-body">
                  <ul class="list-unstyled"
                      ng-controller="BackgroundLayer">
                    <li ng-repeat="layer in layers">
                      <a class="layer"
                         ng-class="{'selected-layer': layer.name == active_layer.name}"
                         ng-click="switch(layer)">

                         {[{ layer.name }]}

                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <a class="panel-title"
                   data-toggle="collapse"
                   data-parent="#accordion-layers"
                   href="#collapse-foreground">

                  Foreground

                </a>
              </div>
              <div id="collapse-foreground"
                   class="panel-collapse collapse">
                <div class="panel-body">
                  <ul class="list-unstyled">
                    <li ng-repeat="layer in layers"
                        ng-class="{'hidden': !layer.enabled}">
                      <a class="layer"
                         ng-class="{ 'selected-layer': layer.name == active_layer.name }"
                         ng-click="switch(layer)">

                         {[{ layer.name }]}

                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <a class="panel-title" data-toggle="collapse" data-parent="#accordion-layers" href="#collapse-animation">
                  Animation
                </a>
              </div>
              <div id="collapse-animation" class="panel-collapse collapse">
                <div class="panel-body">
                  <ul class="list-unstyled">
                    <li ng-repeat="layer in animationLayers" ng-class="{'hidden': !layer.enabled}">
                      <a class="layer"
                         ng-class="{ 'selected-layer': layer.name == clientstate.scenario_event_defaults.wms_layer_depth }"
                         ng-click="switchAnimationLayer(layer)">
                         {[{ layer.display_name }]}
                      </a>
                    </li>
                  </ul>
                  <ul class="ul-divider"></ul>
                  <form name="defaultSettings" ng-controller="DefaultSettings" ng-submit="save()">
                    <ul class="list-unstyled">
                      <li>WMS color range (hmax={[{ scenario_event_defaults.wms_options.hmax }]})
                        <select name="wms_options_hmax" class="form-control" ng-model="wms_options_hmax" ng-change="save_wms_options_hmax()">
                          <option value="4000">4000</option>
                          <option value="2000">2000</option>
                          <option value="1000">1000</option>
                          <option value="2">2</option>
                          <option value="0.5">0.5</option>
                          <option value="0.2">0.2</option>
                          <option value="0.02">0.02</option>
                        </select>
                      </li>
                      <li>WMS waterlevel interpolation (interpolate={[{ scenario_event_defaults.wms_options.interpolate }]})
                        <select name="wms_options_interpolation" class="form-control" ng-model="wms_options_interpolation" ng-change="save_wms_options_interpolation()">
                          <option value="linear">linear</option>
                          <option value="nearest">nearest</option>
                        </select>
                      </li>
                    </ul>
                  </form>

                </div>
              </div>
            </div>  <!-- animation -->

            <div class="panel panel-default">
              <div class="panel-heading">
                <a class="panel-title"
                   data-toggle="collapse"
                   data-parent="#accordion-layers"
                   href="#collapse-administration">

                  Schematisation

                </a>
              </div>
              <div id="collapse-administration" class="panel-collapse collapse">
                <div class="panel-body">
                  <ul class="list-unstyled">
                    <li ng-repeat="layer in admin_layers">
                      <a class="layer"
                          ng-class="{ 'selected-layer': layer.name == active_layer.name }"
                          ng-click="switch(layer)"
                          ng-show="layer.invertedColor === c.bg_onedee_inverted &&
                                   loaded_model_type === layer.modelType">

                        {[{ layer.name | stripInvSuffix }]}

                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <a class="panel-title"
                   data-toggle="collapse"
                   data-parent="#accordion-layers"
                   href="#collapse-structures">

                  Structures

                </a>
              </div>
              <div id="collapse-structures"
                   class="panel-collapse collapse">
                <div class="panel-body">
                  <ul class="list-unstyled"
                      ng-controller="StructureLayer">
                    <li ng-repeat="layer in layers">
                      <a class="layer"
                         ng-class="{ 'selected-layer': layer.active }"
                         ng-click="toggleLayer(layer)">

                         {[{ layer.displayName || layer.name }]}

                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

          </div>  <!-- EditLayer controller -->
        </div>  <!-- panel switcher map layers -->

        <div ng-class="{hide: clientstate.active_panel != 'user'}">
          <div class="panel-group"
               id="accordion-user">
            <div class="panel panel-default">
              <div class="panel-heading">
                <a class="panel-title"
                   data-toggle="collapse"
                   data-parent="#accordion-user"
                   href="#collapse-user">

                  Logged in as {[{ user.username }]}

                </a>
              </div>
              <div id="collapse-user"
                   class="panel-collapse collapse in">
                <div class="panel-body">

                  <ul ng-if="user.is_authenticated" class="list-unstyled">
                    <li>
                      <a href="#"
                         ng-controller="Director">
                        <i class="fa fa-user"></i>
                        <span>
                          {[{ user.username }]}
                        </span>
                      </a>
                    </li>
                    <li>
                      <a href="#"
                         ng-click="requestMaster()"
                         ng-controller="Director">
                        <i ng-class="{'fa fa-star-o': !isMaster, 'fa fa-star': isMaster}">
                        </i>
                        <span ng-class="{hide: isMaster}">

                          Director

                          <span ng-class="{hide: !have_master}">

                            &nbsp;(current {[{master_name}]})

                          </span>
                        </span>
                        <span ng-class="{hide: !isMaster}">

                          Give up director

                        </span>
                      </a>
                    </li>
                    <li>
                      <a href="#"
                         ng-class="{disabled: !isMaster, 'inactive': !isMaster, 'active': isMaster}"
                         ng-show="c.features.gui_archive"
                         ng-controller="Director"
                         ng-click="isMaster && open_archive_scenario()"
                         title="Calculate the damage and arrival times">
                        <i class="fa fa-upload"></i>
                        <span>

                            Process results

                        </span>
                      </a>
                    </li>
                    <li ng-controller="ModelChooserButton">
                      <a ng-class="{'inactive': !isMaster, 'active': isMaster}"
                         ng-click="modal()"
                         title="{[{ state.state.loaded_model_display_name }]}">
                        <i class="fa fa-folder-open"></i>

                          Load model

                      </a>
                    </li>
                    <li>
                      <a href="#"
                         ng-class="{'inactive': !isMaster, 'active': isMaster}"
                         ng-click="isMaster && confirm('Do you really want to reset the model?')"
                         ng-show="state.state.features.gui_reset_model"
                         ng-controller="Confirmation">
                        <i class="fa fa-fast-backward"></i>
                        <span id="reset-model">
                            Reset model
                        </span>
                      </a>
                    </li>
                    <li ng-controller="TouchingGround"
                        ng-show="end_session_visible==true">
                      <a href="#"
                         class="active"
                         ng-click="squareOne()"
                         ng-show="state.master">
                        <i class="fa fa-ban"></i>
                        <span id="end_session">

                            Quit session

                        </span>
                      </a>
                      <a href="#"
                         class="active"
                         ng-click="squareOne()"
                         ng-show="!state.master">
                        <i class="fa fa-eye-slash"></i>
                        <span id="unfollow">

                            Unfollow session

                        </span>
                      </a>
                    </li>
                    <li ng-controller="TouchingGround">
                      <a href="#"
                         class="active"
                         ng-click="buttonLogOut()">
                        <i class="fa fa-power-off"></i>

                        <!-- {% trans "Log out" %}  translate the hell out of the motherfucker-->
                        Log out

                      </a>
                    </li>
                  </ul> <!-- if authenticated -->

                <div ng-if="!user.is_authenticated">
                  Not logged in.

                  <ul class="list-unstyled">
                    <li>
                      <a href="{% url 'login' %}?next=/"
                         class="active"
                         title="Log in">
                        <i class="fa fa-user"></i>
                      </a>
                    </li>
                  </ul>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- panel switcher user -->

        <div ng-controller="ClientState"
             ng-class="{hide: clientstate.active_panel != 'Settings'}">
          <div class="panel-group"
               id="accordion2">
            <div class="panel panel-default">
              <div class="panel-heading">
                <a class="panel-title"
                   data-toggle="collapse"
                   data-parent="#accordion2"
                   href="#collapseTwo">

                  General

                </a>
              </div>
              <div id="collapseTwo"
                   class="panel-collapse collapse in">
                <div class="panel-body">

                  <form name="defaultSettings"
                        ng-controller="DefaultSettings"
                        ng-submit="save()">
                    <ul class="list-unstyled">
                      <li>

                        min time for sim step [1/10s] ({[{ scenario_event_defaults.min_time_sim_step }]})

                        <input type="number"
                               min="0"
                               class="form-control"
                               name="min_time_sim_step"
                               ng-model="min_time_sim_step"
                               ng-change="save_min_time_sim_step()"
                               required>
                        <span class="error"
                              ng-show="defaultSettings.min_time_sim_step.$error.float">

                           Not a valid float value

                        </span>
                      </li>
                    </ul>
                  </form>

                </div>
              </div>
            </div>

            <div class="panel panel-default"
                 ng-show="c.features.modules">
              <div class="panel-heading">
                <a class="panel-title"
                   data-toggle="collapse"
                   data-parent="#accordion2"
                   href="#collapseModules">

                  Modules

                </a>
              </div>
              <div id="collapseModules"
                   class="panel-collapse collapse">
                <div class="panel-body">
                    <div ng-controller="Modules">
                      <div class="module-spacer"
                           ng-repeat="(mod_name,var) in modules">
                            <!-- loops over modules, variables available: mod_name, var, controller Module -->
                           <form class="single-module">
                             <fieldset>
                               <legend>{[{ var.common.display_name }]}
                                 <a href="#" class="module-power-button btn-off fa fa-off" ng-show="var.common.active == 'False'"
                                    ng-click="on(mod_name+':common:active')" title="turn on">
                                 </a>
                                 <a href="#" class="module-power-button btn-on fa fa-off" ng-show="var.common.active == 'True'"
                                    ng-click="off(mod_name+':common:active')" title="turn off">
                                 </a>
                                 </legend>
                                 <dl ng-repeat="(var_id, var_value) in var.control" ng-show="var.common.active == 'True'" class="module-dl">
                                   <dt>{[{ var_id }]}</dt>
                                   <dd ng-switch="var_value">
                                     <a ng-switch-when="True" class="btn module-btn module-btn-on" ng-click="off(mod_name+':control:'+var_id)">Turn Off</a>
                                     <a ng-switch-when="False" class="btn module-btn module-btn-off" ng-click="on(mod_name+':control:'+var_id)">Turn On</a>
                                     <div ng-switch-default>{[{ var_value }]}</div>
                                   </dd>
                                 </dl>
                                 <dl ng-repeat="(var_id, var_params) in var.graphs" ng-show="var.common.active == 'True'" class="module-dl">
                                   <dt>{[{ var_id }]}</dt>
                                   <div class="module-graph">
                                     <threedi-timeseries url="{[{ var_url(var_params) }]}" title="{[{ var_id }]}" unit="seconds"></threedi-timeseries>
                                   </div>
                                 </dl>
                                 <dl ng-repeat="(var_id, var_value) in var.view" ng-show="var.common.active == 'True'" class="module-dl">
                                   <dt>{[{ var_id }]}</dt>
                                   <dd>{[{ var_value }]}</dd>
                                 </dl>
                             </fieldset>
                           </form>

                      </div>
                    </div>
                </div>
              </div>
            </div>

            <div class="panel panel-default"
                 ng-show="c.features.gui_v1_editing">
              <div class="panel-heading">
                <a class="panel-title"
                   data-toggle="collapse"
                   data-parent="#accordion2"
                   href="#collapseEditing">

                  Editing

                </a>
              </div>
              <div id="collapseEditing"
                   class="panel-collapse collapse">
                <div class="panel-body">

                  <form name="defaultSettings"
                        ng-controller="DefaultSettings"
                        ng-submit="save()">

                    <ul class="list-unstyled">
                      <li>

                        soil type ({[{ scenario_event_defaults.soil_type }]})

                        <select name="soil_type" class="form-control" ng-model="soil_type" ng-change="save_soil_type()">
                          <option id="soil-veengrond-met-veraarde-bovengrond" value="1">1 Veengrond met veraarde bovengrond</option>
                          <option id="soil-veengrond-met-veraarde-bovengrond-zand" value="2">2 Veengrond met veraarde bovengrond, zand</option>
                          <option id="soil-veengrond-met-kleidek" value="3">3 Veengrond met kleidek</option>
                          <option id="soil-veengrond-met-kleidek-op-zand" value="4">4 Veengrond met kleidek op zand</option>
                          <option id="soil-veengrond-met-zanddek-op-zand" value="5">5 Veengrond met zanddek op zand</option>
                          <option id="soil-veengrond-op-opgerijpte-klei" value="6">6 Veengrond op ongerijpte klei</option>
                          <option id="soil-stuifzand" value="7">7 Stuifzand</option>
                          <option id="soil-podzol-leemarm-fijn-zand" value="8">8 Podzol (Leemarm, fijn zand)</option>
                          <option id="soil-podzol-zwak-lemig-fijn-zand" value="9">9 Podzol (zwak lemig, fijn zand)</option>
                          <option id="soil-podzol-zwak-lemig-fijn-zand-op-grof-zand" value="10">10 Podzol (lemig kleizeem)</option>
                          <option id="soil-podzol-lemig-kleileem" value="11">11 Podzol (zwak lemig, fijn zand)</option>
                          <option id="soil-enkeerd-zwak-lemig-fijn-zand" value="12">12 Enkeerd (zwak lemig, fijn zand)</option>
                          <option id="soil-beekeerd-lemig-fijn-zand" value="13">13 Beekeerd (lemig fijn zand)</option>
                          <option id="soil-podzol-grof-zand" value="14">14 Podzol (grof zand)</option>
                          <option id="soil-zavel" value="15">15 Zavel</option>
                          <option id="soil-lichte-klei" value="16">16 Lichte klei</option>
                          <option id="soil-zware-klei" value="17">17 Zware klei</option>
                          <option id="soil-klei-op-veen" value="18">18 Klei op veen</option>
                          <option id="soil-klei-op-zand" value="19">19 Klei op zand</option>
                          <option id="soil-klei-op-grof-zand" value="20">20 Klei op grof zand</option>
                          <option id="soil-leem" value="21">21 Leem</option>
                        </select>
                      </li>

                      <li>crop type ({[{ scenario_event_defaults.crop_type }]})
                        <select name="crop_type"
                                class="form-control"
                                ng-model="crop_type"
                                ng-change="save_crop_type()">
                          <option id="crop-grass" value="1">1 grass</option>
                          <option id="crop-corn" value="2">2 corn</option>
                          <option id="crop-potatoes" value="3">3 potatoes</option>
                          <option id="crop-sugarbeet" value="4">4 sugarbeet</option>
                          <option id="crop-grain" value="5">5 grain</option>
                          <option id="crop-miscellaneous" value="6">6 miscellaneous</option>
                          <option id="crop-non-arable-land" value="7">7 non-arable land</option>
                          <option id="crop-greenhouse-area" value="8">8 greenhouse area</option>
                          <option id="crop-orchard" value="9">9 orchard</option>
                          <option id="crop-bulbous-plants" value="10">10 bulbous plants</option>
                          <option id="crop-foliage-forest" value="11">11 foliage forest</option>
                          <option id="crop-pine-forest" value="12">12 pine forest</option>
                          <option id="crop-nature" value="13">13 nature</option>
                          <option id="crop-fallow" value="14">14 fallow</option>
                          <option id="crop-vegetables" value="15">15 vegetables</option>
                          <option id="crop-flowers" value="16">17 flowers</option>
                        </select>
                      </li>

                      <li>

                        infiltration value ({[{ scenario_event_defaults.infiltration_value }]})

                        <input type="number" class="form-control"
                          name="infiltration_value"
                          ng-model="infiltration_value"
                          ng-change="save_infiltration_value()"
                          required>
                        <span class="error"
                              ng-show="defaultSettings.infiltration_value.$error.required">

                              Required!

                        </span>
                      </li>

                      <li>

                        interception value ({[{ scenario_event_defaults.interception_value }]}m)

                        <input type="number" class="form-control"
                          name="interception_value"
                          ng-model="interception_value"
                          ng-change="save_interception_value()"
                          required>
                        <span class="error"
                              ng-show="defaultSettings.interception_value.$error.required">

                              Required!

                        </span>
                      </li>

                      <li>
                        bathy mode ({[{ scenario_event_defaults.bathy_mode }]})

                        <select name="bathy_mode"
                                class="form-control"
                                ng-model="bathy_mode"
                                ng-change="save_bathy_mode()">
                          <option value="0">0 (rel)</option>
                          <option value="1">1 (abs)</option>
                        </select>
                      </li>
                      <!--li>land use ({[{ scenario_event_defaults.edit_land_use_names[scenario_event_defaults.edit_land_use_color] }]})
                        <select name="land_use_value" class="form-control" ng-model="land_use_value" ng-change="save_land_use_value()">
                        <option value="0">road</option>
                        <option value="1">unpaved</option>
                        <option value="2">housing</option>
                        <option value="3">water</option>
                        </select>
                      </li-->
                    </ul>
                  </form>

                </div>
              </div>
            </div>

            {% if show_advanced_panel %}
            <div class="panel panel-default">
              <div class="panel-heading">
                <a class="panel-title"
                   data-toggle="collapse"
                   data-parent="#accordion2"
                   href="#collapseSlidersettings">

                  Sliders

                </a>
              </div>
              <div id="collapseSlidersettings"
                   class="panel-collapse collapse">
                <div class="panel-body">

                  <form name="defaultSettings"
                        ng-controller="DefaultSettings"
                        ng-submit="save()">
                    <ul class="list-unstyled">

                    <!-- TODO: validation doesn't work properly (appears to be fixed in newer angular)-->
                      <li ng-repeat="(key, value) in var_container">

                        {[{ key }]} (min: {[{ value.min }]}, max: {[{ value.max }]})

                        <br />
                        <input type="number"
                               max="{[{ value.max }]}"
                               dynamic-name="value['min_name']"
                               ng-model="value.min"
                               ng-change="save_number_value('{[{ value['min_name'] }]}', '{[{ key }]}', 'min')"
                               class="form-control form-alongside ng-valid-min"
                               required />

                        <span class="error"
                              ng-show="defaultSettings.value['min_name'].$error.required">

                          Required!

                        </span>

                        <input type="number"
                               min="{[{ value.min }]}"
                               dynamic-name="value['max_name']"
                               ng-model="value.max"
                               ng-change="save_number_value('{[{ value['max_name'] }]}', '{[{ key }]}', 'max')"
                               class="form-control form-alongside"
                               required />
                        <span class="error"
                              ng-show="defaultSettings.value['max_name'].$error.required">

                          Required!

                        </span>
                      </li>
                    </ul>
                  </form>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <a class="panel-title"
                   data-toggle="collapse"
                   data-parent="#accordion2"
                   href="#collapseDebug">

                  Debug

                </a>
              </div>
              <div id="collapseDebug"
                   class="panel-collapse collapse">
                <div class="panel-body">
                  <form ng-controller="Debug">
                    <ul class="list-unstyled">
                      <li>
                        <a href="#"
                           class="btn"
                           ng-click="debug_beam_to_wms()"
                           title="Beam to wms">

                          Beam to WMS!

                        </a>
                      </li>
                      <li>
                        <input type="number"
                               min=""
                               dynamic-name=""
                               ng-model="line_number"
                               ng-change=""
                               class="form-control form-alongside"
                               required />
                        <a href="#"
                           class="btn"
                           ng-click="light_my_line()" title="Line">

                          Light my line

                        </a>
                      </li>
                      <li>
                        <input type="number"
                               min=""
                               dynamic-name=""
                               ng-model="node_number"
                               ng-change=""
                               class="form-control form-alongside"
                               required />
                        <a href="#"
                           class="btn"
                           ng-click="light_my_node()"
                           title="Node">

                          Light my node

                        </a>
                      </li>
                    </ul>

                  </form>
                  <form name="defaultSettings"
                        ng-controller="DefaultSettings"
                        ng-submit="save()">

                    <ul class="list-unstyled">
                      <li>

                        Info mode popup ({[{ scenario_event_defaults.info_mode }]})

                        <select name="info_mode"
                                class="form-control"
                                ng-model="info_mode"
                                ng-change="save_info_mode()">

                          <option value="s1">s1</option>
                          <option value="bath">bath</option>
                          <option value="su">su</option>
                          <option value="vol">vol</option>
                          <option value="dep">dep</option>
                          <option value="ucx">ucx</option>
                          <option value="ucy">ucy</option>
                          <option value="interception">interception</option>
                          <option value="rain">rain</option>

                        </select>
                      </li>
                      <li>

                        1D info mode popup ({[{ scenario_event_defaults.onedee_info_mode }]})

                        <select name="onedee_info_mode"
                                class="form-control"
                                ng-model="onedee_info_mode"
                                ng-change="save_onedee_info_mode()">

                          <option value="unorm">unorm</option>
                          <option value="q">q</option>
                          <option value="s1">node-s1</option>
                          <option value="bath">node-bath</option>
                          <option value="su">node-su</option>
                          <option value="vol">node-vol</option>
                          <option value="dep">node-dep</option>
                          <option value="ucx">node-ucx</option>
                          <option value="ucy">node-ucy</option>
                          <option value="interception">node-interception</option>
                          <option value="rain">node-rain</option>

                        </select>
                      </li>
                      <li>

                        Maximum timestep duration ({[{ scenario_event_defaults.time_step_duration }]}s)

                        <input type="number"
                               min="0"
                               name="time_step_duration"
                               ng-model="time_step_duration"
                               ng-change="save_time_step_duration()"
                               class="form-control"
                               required />
                        <span class="error"
                              ng-show="defaultSettings.time_step_duration.$error.required">

                          Required!

                        </span>
                      </li>
                    </ul>
                  </form>
                </div>
              </div>
            </div>
            {% endif %}<!-- show_advanced_panel -->

          </div> <!-- pi menu -->

        </div> <!-- panel switcher pi -->

      </div> <!-- ng-controller panelswitcher (II) -->

    </div> <!-- ng-controller panelswitcher (I) -->
  </div>
  <!-- end block upper_right_bar -->

  <!-- pick model modal -->
  <modal template-name="booting"></modal>

  <div id="alert_placeholder"></div>

  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=visualization&sensor=false"></script>
  <script src="hand-crank.js" async></script>

</body>
</html>
