
<div id="pumpstation" ng-controller="PumpStation" >
  <div class="box-awesome-head">
    <h4>
      <div class="pump-title">
        Pumpstation ({[{ content.properties.display_name }]})
      </div>
    </h4>
  </div>

  <div class="box-awesome-contents">

    <div class="row small-spacer">
      <div class="col-sm-6">
        <span>Start Level [m MSL]</span>
      </div>
      <div class="col-sm-6">
        <edit-number
          candidate="content.properties.start_level_suction_side"
          callback="set_pump"
          step="0.1"
          >
        </edit-number>
      </div>
    </div>

    <div class="row small-spacer">
      <div class="col-sm-6">
        <span>Stop Level [m MSL]</span>
      </div>
      <div class="col-sm-6">
        <edit-number
          candidate="content.properties.stop_level_suction_side"
          callback="set_pump"
          step="0.1"
          >
        </edit-number>
      </div>
    </div>

    <div class="row small-spacer">
      <div class="col-sm-6">
        <span>Capacity [m<sup>3</sup>/min]</span>
      </div>
      <div class="col-sm-6">
        <edit-number
          candidate="content.properties.capacity"
          callback="set_pump"
          step="0.5"
          >
        </edit-number>

      </div>
    </div>
    <div class="row small-spacer">
      <div class="col-sm-6">
        <span>
           {[{ selectedInfo.name }]}
        </span>
      </div>
        <div class="col-sm-6">
          <div class="btn-group structures-graph-selector pull-right">
             <a ng-click="selectInfo(selectedInfo.previous)" class="btn btn-box-small btn-default" ng-class="{disabled: selectedInfo.previous == undefined}"><i class="fa fa-arrow-left"></i></a>
            <a ng-click="selectInfo(selectedInfo.next)" class="btn btn-default btn-box-small " ng-class="{disabled: selectedInfo.next == undefined}"><i class="fa fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
    <div class="row small-spacer">
        <div class="col-sm-11 structures-graph">
          <threedi-timeseries url="{[{ selectedUrl }]}" title="{[{selectedInfo.name}]}" unit="{[{selectedInfo.unit}]}" height="200" width="370"></threedi-timeseries>
        </div>
    </div>
    <div class="row-fluid download-row">
        <span class="col-sm-10">
        </span>
        <span class="col-sm-2">
            <a href="{[{ selectedUrl }]}&format=csv&object_type=pumpstation&display_name=pumpstation_{[{ content.properties.display_name }]}_{[{selectedInfo.name}]}" title="Download timeseries">
                <i class="fa fa-download fa-2x"></i>
            </a>
        </span>
    </div>
  </div> <!-- .box-awesome-contents -->
</div>
