
<div ng-controller="PopupSlider" style="height: 10em;">
  <div ng-controller="RainCloud">
    <div class="box-awesome-head">
        <h4>{% trans "Rain" %}</h4>
    </div>
    <div class="box-awesome-contents">
        <div class="row spacer">
          <div class="col-sm-12">
            <div class="btn-group bar-buttons">
                <div class="progress progress-popup"
                     ng-mousedown="mouse_down('rain', $event);"
                     ng-mouseup="mouse_up('rain', $event);"
                     ng-mousemove="mouse_move('rain', $event);">
                    <div class="progress-bar" role="progressbar"
                       aria-valuemin="{[{ clientstate.edit_ranges['rain'].min }]}"
                       aria-valuemax="{[{ clientstate.edit_ranges['rain'].max }]}"
                       style="width: {[{ value_percentage['rain'] }]}%;">
                        <span style="color:white; white-space:nowrap;">
                        </span>
                    </div>
                    <div class="progress-label">
                      {[{ clientstate.edit_ranges['rain'].name }]}
                      {[{ box.content.properties.amount | number : clientstate.edit_ranges['rain'].decimals }]}
                      {[{ clientstate.edit_ranges['rain'].unit }]}
                      {[{ display_name }]}
                    </div>
                </div>
            </div>
          </div>
        </div>

        <div class="row spacer">
            <div class="col-sm-6">
                <a ng-click="stop()" class="btn btn-default btn-box btn-danger">
                    <i class="fa fa-trash"></i>
                </a>
            </div>
            <div class="col-sm-6">
                <a ng-click="save()" class="btn btn-default btn-success btn-box pull-right">OK</a>
            </div>
        </div>
    </div>
  </div>
</div>
