
{# is nearly exactly the same as infopoint.html #}
<div ng-switch-when="sewerage-pumpstation" ng-controller="InfoPoint">
    <div class="box-awesome-head">
        <h4 ng-switch="need_scrolling()">
            <div ng-switch-when="true">
            <marquee behavior="alternate" scrollamount="1" scrolldelay="50">
                {[{ selectedInfo.name }]}
            </marquee>
            </div>
            <div ng-switch-when="false">
                {[{ selectedInfo.name }]}
            </div>
            <span class="graph-selector btn-group pull-right">
            <a ng-click="selectInfo(selectedInfo.previous)" class="btn btn-default" ng-class="{disabled: selectedInfo.previous == undefined}"><i class="fa fa-arrow-left"></i></a>
            <a ng-click="selectInfo(selectedInfo.next)" class="btn btn-default" ng-class="{disabled: selectedInfo.next == undefined}">
            <i class="fa fa-arrow-right"></i></a>
            </span>
        </h4>
    </div>
    <div class="row-fluid">
        <span class="col-sm-12">
            {[{ content.condition }]}
        </span>
    </div>
    <threedi-timeseries url="{[{ selectedUrl }]}" title="{[{selectedInfo.name}]}" unit="{[{selectedInfo.unit}]}" height="300px" width="390px"></threedi-timeseries>
</div>
