
<div id="structure" ng-switch-when="structure-settings" ng-controller="StructureSettings" >
  <div class="box-awesome-head">
    <h5>
        {[{ content.contenttype }]} ({[{ content.properties.display_name }]})
    </h5>
  </div>

  <div class="box-awesome-contents">

    <div class="row small-spacer" ng-repeat="param in _params()">
      <div class="col-sm-6">
        <span>{[{ param.description }]}</span>
      </div>
      <div class="col-sm-6">
        <div class="btn-group">
          <a class="btn btn-default btn-box-small2 disabled" ng-bind="param.display_fun(content.properties[param.field_name])"></a>
          <a ng-click="addition(param.field_name, -param.increment, param.minimum, param.maximum, param.set_after_change)" class="btn btn-default btn-box-small">
            <i class="fa fa-minus"></i>
          </a>
          <a ng-click="addition(param.field_name, param.increment, param.minimum, param.maximum, param.set_after_change)" class="btn btn-default btn-box-small">
            <i class="fa fa-plus"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="apply-button-container">

      <a ng-if="!has_changes_not_applied"
         disabled
         class="btn btn-primary btn-box btn-success btn-apply">
        ...
      </a>
      <a ng-if="has_changes_not_applied"
         ng-click="set()"
         class="btn btn-primary btn-box btn-success btn-apply"
         title="Press the 'OK' button to apply changes">
        OK
      </a>

    </div>

  </div> <!-- .box-awesome-contents -->
</div>
