{%  load compress %}
{%  compress css %}
<!-- bower:css -->
<link rel='stylesheet' href='{{ STATIC_URL }}vendor/Leaflet.awesome-markers/dist/leaflet.awesome-markers.css' />
<link rel='stylesheet' href='{{ STATIC_URL }}vendor/bootstrap-css/css/bootstrap.min.css' />
<link rel='stylesheet' href='{{ STATIC_URL }}vendor/components-font-awesome/css/font-awesome.css' />
<link rel='stylesheet' href='{{ STATIC_URL }}vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css' />
<link rel='stylesheet' href='{{ STATIC_URL }}vendor/nvd3/build/nv.d3.css' />
<!-- endbower -->

<!-- some things bower won't resolve -->
<link rel='stylesheet' href='{{ STATIC_URL }}vendor/leaflet/dist/leaflet.css' />
<link rel="stylesheet" href="{{ STATIC_URL }}vendor/Leaflet.draw/dist/leaflet.draw.css">


<link href="{{ STATIC_URL }}css/nxt-box.css" rel="stylesheet"/>
<link href="{{ STATIC_URL }}css/threedi.css" rel="stylesheet" />
<link href="{{ STATIC_URL }}css/lizard5.css" rel="stylesheet" />
<link href="{{ STATIC_URL }}css/sidemenu.css" rel="stylesheet" />
<link href="{{ STATIC_URL }}css/overrides.css" rel="stylesheet" />
{% endcompress %}
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
