 <div>
  <div ng-switch="clientState.edit_ranges['rain_design_definition'].value">
    <div ng-switch-when="3">
      Rain 3 is a designed event that statistically occurs twice a year. The duration of this event is 75 minutes. The event has a peak at the front of 25 mm/h. (T=0.5 year, V=14.4 mm, C2100 RIONED)
    </div>
    <div ng-switch-when="4">
      Rain 4 is a designed event that statistically occurs twice a year. The duration of this event is 75 minutes. The event has a peak at the back of 25 mm/h. (T=0.5 year, V=14.4 mm, C2100 RIONED)
    </div>
    <div ng-switch-when="5">
      Rain 5 is a designed event that statistically occurs once a year. The duration of this event is 75 minutes. The event has a peak at the front of 32 mm/h. (T=1.0 year, V=16.8 mm, C2100 RIONED)
    </div>
    <div ng-switch-when="6">
      Rain 6 is a designed event that statistically occurs once a year. The duration of this event is 60 minutes. The event has a peak at the back of 32 mm/h. (T=1.0 year, V=16.8 mm, C2100 RIONED)
    </div>
    <div ng-switch-when="7">
      Rain 7 is a designed event that statistically occurs once every 2 years. The duration of this event is 60 minutes. The event has a peak at the front of 39 mm/h. (T=2.0 year, V=19.8 mm, C2100 RIONED)
    </div>
    <div ng-switch-when="8">
      Rain 8 is a designed event that statistically occurs once every 2 years. The duration of this event is 60 minutes. The event has a peak at the back of 39 mm/h. (T=2.0 year, V=19.8 mm, C2100 RIONED)
    </div>
    <div ng-switch-when="9">
      Rain 9 is a designed event that statistically occurs once every 5 years. The duration of this event is 60 minutes. The event has a total volume of 29.4 mm/h. (T=5.0 year, V=29.4 mm, C2100 RIONED)
    </div>
    <div ng-switch-when="10">
      Rain 10 is a designed event that statistically occurs once every 10 years. The duration of this event is 45 minutes. The event has a peak at the front of 75 mm/h. (T=10.0 year, V=35.7 mm, C2100 RIONED)
    </div>
  </div>
</div>
