{# is included in index.html parent loops over modules, variables available: mod_name, var, controller Module #}
<form class="single-module">
  <fieldset>
    <legend>{[{ var.common.display_name }]}
      <a href="#" class="module-power-button btn-off fa fa-off" ng-show="var.common.active == 'False'"
         ng-click="on(mod_name+':common:active')" title="turn on">
      </a>
      <a href="#" class="module-power-button btn-on fa fa-off" ng-show="var.common.active == 'True'"
         ng-click="off(mod_name+':common:active')" title="turn off">
      </a>
      </legend>
      <dl ng-repeat="(var_id, var_value) in var.control" ng-show="var.common.active == 'True'" class="module-dl">
        <dt>{[{ var_id }]}</dt>
        <dd ng-switch="var_value">
          <a ng-switch-when="True" class="btn module-btn module-btn-on" ng-click="off(mod_name+':control:'+var_id)">Turn Off</a>
          <a ng-switch-when="False" class="btn module-btn module-btn-off" ng-click="on(mod_name+':control:'+var_id)">Turn On</a>
          <div ng-switch-default>{[{ var_value }]}</div>
        </dd>
      </dl>
      <dl ng-repeat="(var_id, var_params) in var.graphs" ng-show="var.common.active == 'True'" class="module-dl">
        <dt>{[{ var_id }]}</dt>
        <div class="module-graph">
          <threedi-timeseries url="{[{ var_url(var_params) }]}" title="{[{ var_id }]}" unit="seconds"></threedi-timeseries>
        </div>
      </dl>
      <dl ng-repeat="(var_id, var_value) in var.view" ng-show="var.common.active == 'True'" class="module-dl">
        <dt>{[{ var_id }]}</dt>
        <dd>{[{ var_value }]}</dd>
      </dl>
  </fieldset>
</form>
