{# slider template for the slider templatetag #}
<div class="btn-group bar-buttons edit-wrapper edit-wrapper-slider-container">
  <div class="edit-wrapper-slider edit-wrapper-slider-{{ var_name }}">
    <div class="toggle-type"
         ng-show="clientstate.edit_ranges['{{ var_name }}'].edit_mode"
         ng-click="toggle_edit_mode(clientstate.edit_ranges['{{ var_name }}'].edit_mode)">
      <a href="#" title="Switch mode">
        <i class="fa fa-sun-o"
           ng-class="{'fa-sun-o': clientstate.edit_ranges['{{ var_name }}'].edit_mode === clientstate.edit_mode,
                      'fa-moon-o move-a-bit': clientstate.edit_ranges['{{ var_name }}'].edit_mode !== clientstate.edit_mode}"></i>
      </a>
    </div>
    <div class="switch-input-type"
         ng-show="manual_input_{{ var_name }}==false"
         ng-click="manual_input_{{ var_name }}=true">
      <a href="#" title="manual input">
        <i class="fa fa-pencil manual-edit"></i>
      </a>
    </div>
    <div class="progress settings-progress"
         ng-show="manual_input_{{ var_name }}==false"
         ng-mousedown="mouse_down('{{ var_name }}', $event);"
         ng-mouseup="mouse_up('{{ var_name }}', $event);"
         ng-mousemove="mouse_move('{{ var_name }}', $event);">
      <div ng-class="{'progress-bar': clientstate.edit_ranges['{{ var_name }}'].value >= 0,
                      'progress-bar progress-bar-neg': clientstate.edit_ranges['{{ var_name }}'].value < 0}"
           role="progressbar"
           aria-valuemin="{[{ clientstate.edit_ranges['{{ var_name }}'].min }]}"
           aria-valuemax="{[{ clientstate.edit_ranges['{{ var_name }}'].max }]}"
           style="width: {[{ value_percentage['{{ var_name }}'] }]}%;">
                          <span style="color:white; white-space:nowrap;">
                          </span>
      </div>
      <div class="progress-label"
           ng-hide="manualInputEdit.$error.required && manual_input_{{ var_name }}==false">
        {[{ clientstate.edit_ranges['{{ var_name }}'].name }]}
        {[{ clientstate.edit_ranges['{{ var_name }}'].value | number : clientstate.edit_ranges['{{ var_name }}'].decimals }]}
        {[{ clientstate.edit_ranges['{{ var_name }}'].unit }]}
      </div>
      <div class="progress-label error"
           ng-show="manualInputEdit.$error.required && manual_input_{{ var_name }}==false">
        Default will be used!
      </div>
    </div>
    <div class="switch-input-type"
         ng-show="manual_input_{{ var_name }}==true"
         ng-click="manual_input_{{ var_name }}=false">
      <a href="#" title="back to slider">
        <i class="fa fa-share manual-edit"></i>
      </a>
    </div>
    <div class="centerize manual-form-wrapper settings-progress"
         ng-show="manual_input_{{ var_name }}==true">
      <form name="manualInputEdit" class="manual-input-form">
        <label class="small-label" for="{{ var_name }}">{[{ clientstate.edit_ranges['{{ var_name }}'].name }]} [{[{ clientstate.edit_ranges['{{ var_name }}'].unit }]}]</label>
        <input type="number" step="{[{ clientstate.edit_ranges['{{ var_name }}'].step }]}"
               ng-model="clientstate.edit_ranges['{{ var_name }}'].value"
               value="{[{ clientstate.edit_ranges['{{ var_name }}'].value | number : clientstate.edit_ranges['{{ var_name }}'].decimals }]}"
               max="{[{ clientstate.edit_ranges['{{ var_name }}'].max }]}"
               min="{[{ clientstate.edit_ranges['{{ var_name }}'].min }]}"
               class="form-control form-alongside manual-input-box"
               ng-required="true" />
      </form>
    </div>
    <div class="validation error"
         ng-show="manualInputEdit.$error.required && manual_input_{{ var_name }}==true">
      Default will be used!
    </div>
  </div>
</div>
